
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Courier New', Courier, monospace;
  max-width: 100vw;
  background-color: #f8f8f8;
  height: 100vh;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
