.playWrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.playBoard {
  width: 100%;
}

@media (min-width: 768px) {
  .playBoard {
    width: 70%
  }
}