.root {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.item {
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}