.rotator {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5em;
  font-size: 1em;
  transition: transform .15s;
  cursor: pointer;
  user-select: none;
  margin: .5em 1.5em;

}
.rotator:focus, .rotator:active {
  outline: none;
}