.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family:'Courier New', Courier, monospace;
}

.row {
  display: flex;
  width: 100%;
}
.square {
  height: 0;
  width: 12.5%;
  padding-bottom: 12.5% ;
  font-size: 100%;
  line-height: 100%;
  container-type: inline-size;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.piece {
  position: absolute;
  top: 5%;
  font-size: 100cqw;
  line-height: 100cqw;
}
.canMoveTo {
  z-index: 1;
  cursor: pointer;
}
.canMoveTo::before {
  content: ' ';
  position: absolute;
  top: 30%;
  border-radius: 50%;
  width: 40%;
  height: 40%;
  border: 3px dotted blue;
  z-index: 1;
}
.light { 
  background-color: white;
}
  /* .light.canMoveTo { */
  /* background-color: rgba(0,0,255,.1) !important;
} */
.canMoveTo .piece {
  color: darkred;
}
.dark {
  background-color: #ccc;
}
.selected {
  z-index: 2;
  background-color: darkblue;
  color: white;
  /* outline: 2px dotted green; */
}

.blackTurn .blackPiece {
  cursor: pointer;
}
.whiteTurn .whitePiece {
  cursor: pointer;
}

.kingInCheck {
  color: darkred;
}