.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}

.file {
  display: flex;
}
.square {
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.light {
  background-color: white;
}
.dark {
  background-color: #ccc;
}
.selected {
  z-index: 1;
  outline: 2px dotted green;
}